$white: rgba(255, 255, 255, 1);
$blue: rgba(129, 179, 210, 1);
$blue-after: rgba(129, 179, 210, 1);
$blue-hover: rgba(102, 158, 192, 1);
$blue-down: rgba(84, 150, 189, 1);
$blue-active: rgba(84, 150, 189, 1);
$grey-body: rgba(242, 242, 242, 1);
$grey: rgba(229, 229, 229, 1);
$grey-active: rgba(213, 213, 213, 1);
$grey-down: rgba(179, 179, 179, 1);
$black: rgba(0, 0, 0, 1);
$input: rgba(242, 242, 242, 1);
$box-shadow: rgba(0, 1, 1, 0.2);

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

//retina

$retina-resolution: 2dppx;
