.blank-site {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 34px;
  margin-top: 25px;
  border-bottom: 1px solid $grey;

  @include tablet {
    margin-top: 0;
    padding-left: 53px;
    padding-right: 53px;
    border-top: 1px solid $grey;
    border-bottom: 0;
  }

  @include desktop {
    padding: 0;
    margin: 0 auto;
    width: 960px;
  }
}

.blank-site__legend {
  margin-bottom: 3px;

  @include tablet {
    width: 410px;
    margin: 0;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    margin-bottom: 70px;
  }
}

.blank-site__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  margin-top: 20px;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 36px;
    column-gap: 32px;
    margin: auto;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
    padding-left: 44.5px;
    padding-right: 44.5px;
    margin: 0 auto;
  }
}

.blank-site__item {
  margin-bottom: 36px;

  @include tablet {
    margin-bottom: 0;
    width: 224px;
  }

  @include desktop {
    width: auto;
    height: 36px;
  }
}

.blank-site__item:last-child {
  margin-bottom: 0;
}

.blank-site__item-control {
  position: relative;
  padding-left: 60px;
  display: flex;
  align-items: center;
}
