.blank-emotions {
  padding-top: 15px;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 24px;
  text-align: center;

  @include tablet {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid $grey;
  }

  @include desktop {
    position: relative;
    padding-bottom: 48px;
    width: 960px;
    margin: 0 auto;
    margin-top: 85px;
  }
}

.blank-emotions__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 5px;

  @include tablet {
    margin: 0;
    font-size: 21px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 402px;
  }

  @include desktop {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 13px;
    background-color: $white;
    position: relative;
    z-index: 2;
  }
}

.blank-emotions__depiction {
  display: block;
  width: 100%;
  margin: auto;
  resize: none;

  @include fontMain;

  background-color: $input;
  border: none;
  min-width: 279px;
  max-width: 648px;
  height: 150px;
  padding: 16px;

  @include tablet {
    max-width: 768px;
    height: 160px;
  }
}

.blank-emotions__depiction:hover {
  background-color: $grey;
  transition-duration: 0.3s;
}

.blank-emotions__depiction::placeholder {
  color: $black;
  opacity: 0.3;
}
