.card-info {
  padding-top: 15px;

  @include tablet {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
    background-color: rgba(242, 242, 242, 1);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
  }

  @include desktop {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 25px;
    padding-top: 10px;
  }
}

.card-info--current {
  @include desktop {
    bottom: 0;
    padding-left: 20px;
  }
}

.card-info__text-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  margin: 0;

  @include tablet {
    line-height: 21px;
  }

  @include desktop {
    color: $white;
  }
}

.card-info__counter {
  position: relative;
  cursor: pointer;

  @include fontMain;

  font-size: 14px;
  line-height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  gap: 14px;
  background-color: transparent;
  border: none;
  margin-top: 10px;

  @include tablet {
    min-width: 48px;
    margin-top: 0;
    align-items: center;
    gap: 9px;
  }

  @include desktop {
    color: $white;
    margin-top: 0;
  }
}

.card-info__counter svg.active {
  color: $blue;
  opacity: 1;
}

.card-info__counter-svg {
  fill: $grey;
  opacity: 0.3;

  @include desktop {
    fill: $white;
    opacity: 1;
  }

  &.active{
    fill: $blue;
    transition-duration: 0.3s;
  }
}

.card-info__counter-number {
  position: absolute;
  left: 37px;
  top: 7px;
  width: auto;
  height: 17px;

  @include tablet {
    position: relative;
    top: 0;
    left: 0;
  }
}

.card-info__text-author {
  @include fontSmall;

  font-size: 14px;
  display: block;

  @include desktop {
    color: $white;
  }
}
