.review-intro {
  text-transform: uppercase;
  padding-bottom: 38px;
  padding-top: 36px;

  @include tablet {
    padding-top: 67px;
    text-align: center;
    padding-bottom: 105px;
  }

  @include desktop {
    padding-top: 113px;
    padding-bottom: 70px;
  }
}

.review-intro__wrapper {
  align-items: center;
  margin: auto;
  text-align: center;
}

.review-intro__title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 25px;

  @include tablet {
    font-size: 30px;
    margin-bottom: 25px;
  }

  @include desktop {
    margin-bottom: 30px;
  }
}

.review-intro__depiction {
  @include fontSmall;

  font-size: 14px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);

  @include tablet {
    width: 436px;
    margin: 0 auto;
  }
}
