.advantages-logo {
  position: relative;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 78px;
  padding-left: 19px;
  padding-right: 19px;
  background-image: url("../img/main-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-color: $input;
  object-fit: cover;
  overflow: hidden;

  @include retina {
    background-image: url("../img/main-background-2x.jpg");
  }

  @include tablet {
    background-image: url("../img/main-background-tab.jpg");
    padding-left: 0;
    padding-right: 0;
    padding-top: 77px;
    padding-bottom: 85px;

    @include retina {
      background-image: url("../img/main-background-tab-2x.jpg");
    }
  }

  @include desktop {
    background-image: url("../img/main-background-des.jpg");

    @include retina {
      background-image: url("../img/main-background-des-2x.jpg");
    }
  }
}

.advantages-logo::after {
  position: absolute;
  width: 1200px;
  overflow: hidden;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 57px;
  display: block;
  content: "";
  background-image: url("../img/arrow-main-logo.svg");
  background-repeat: no-repeat;
}

.advantages-logo__picture {
  margin: 0 auto;
  min-width: 282px;
  min-height: 214px;
  width: 100%;
  height: 100%;

  @include tablet {
    width: 461px;
    height: 349px;
  }
}

.advantages-logo--mini {
  padding-top: 52px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 60px;
  background-image: url("../img/background-mobile.jpg");

  @include retina {
    background-image: url("../img/background-mobile-2x.jpg");
  }

  @include tablet {
    padding-top: 95px;
    padding-bottom: 107.4px;
    padding-right: 154.1px;
    padding-left: 157px;
    background-image: url("../img/background-tablet.jpg");

    @include retina {
      background-image: url("../img/background-tablet-2x.jpg");
    }
  }

  @include desktop {
    padding-top: 101px;
    padding-bottom: 115px;
    padding-right: 371px;
    padding-left: 369px;
    background-image: url("../img/background-desktop.jpg");

    @include retina {
      background-image: url("../img/background-desktop-2x.jpg");
    }
  }
}

.advantages-logo__svg {
  @include tablet {
    width: 100%;
  }
}
