.advantages__wrapper {
  background-color: $white;
}

.advantages__slogan {
  text-transform: uppercase;
  margin: 0 auto;
  width: 260px;
  font-size: 18px;

  @include tablet {
    width: auto;
    font-size: 21px;
  }
}

.advantages__text {
  @include fontSmall;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 35px;
  display: block;

  @include tablet {
    margin-top: 27px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

.advantages__item:first-of-type {
  @include tablet() {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}

.advantages__item:nth-of-type(2) {
  grid-column: 1/-1;
  grid-row: 2/3;
}


.advantages__item {
  @include tablet {
    min-width: 768px;
    width: 100%;
    flex-grow: 3;
    grid-column: 1 span 1;
    grid-row: 3/4;
  }
}

.advantages__item--grey {
  padding-left: 35px;
  padding-right: 35px;
  background-color: $grey;

  @include tablet {
    display: grid;
    place-items: center;
    min-width: 256px;
    width: 100%;
    padding-left: 33px;
    padding-right: 33px;
    flex-grow: 1;
  }

  @include desktop {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.advantages__item--grey:last-child {
  padding-bottom: 6px;
}

.advantages__columns {
  position: relative;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
  }
}


.advantages__columns--reverse {
  display: flex;
  flex-direction: column-reverse;

  @include tablet {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
  }
}
