.card {
  position: relative;
  border-top: 1px solid $grey;
  padding: 26px 20px 29px 20px;
  margin: auto;
  width: 100%;

  @include tablet {
    align-self: stretch;
    border: none;
    min-height: 347px;
    min-width: 324px;
    padding: 0;
    flex-grow: 1;
    width: 100%;
  }

  @include desktop {
    position: relative;
    min-height: 267px;
  }
}

.card:last-child {
  border-bottom: 1px solid $grey;
  padding-bottom: 35px;

  @include tablet {
    padding: 0;
    border: none;
  }
}

.card--current {
  @include tablet {
    min-height: 480px;
    min-width: 648px;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  @include desktop {
    min-height: 400px;
  }
}

.card__photo {
  width: 100%;
}

.card__photo-img {
  display: block;
  width: 100%;

  @include tablet {
    height: 267px;
  }
}
